body {
  margin: auto;
  height: 100vh;
  background-color: #F2F2F2;
}

.corpo {
  align-items: center;
  padding: 10px;
}

header {
  background-color: white;
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.text-none {
  color: #5E5E5E;
  font-family: Noto Sans, sans-serif;
  font-weight: initial;
  display: flex;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #D4394E;
  color: #F8ECF0;
  height: 50px;
  font-family: Noto Sans, sans-serif;
  font-weight: 590;
  cursor: pointer;
  border-radius: 0.3em;
  text-align: center;
  width: 250px;
}

.anamnese {
  background-color: #B3DDDD;
  font-family: Noto Sans, sans-serif;
  display: flex;
  padding: 10px;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.form {
  background-color: #FFFFFF;
  height: 500px;
  margin-top: 0px;
}

.input-historico {
  border: transparent;
  background: #F2F2F2;
  height: 80px;
  width: 95%;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.queixa, .doenca, .selecionados, .historico{
  font-size: smaller;
  font-family: Noto Sans, sans-serif;
  margin: 15px;
  display: flex;
  justify-content: center;
}

select {
  /* Select Reset */
  border: transparent;
  background: #F2F2F2;
  border-radius: 0.3em;
  margin:5px;
  display:block;
  width: 95%;
  cursor: pointer;
  color: gray;
  /* custom select appearance */  
  padding: 12px 55px 15px 15px;
  font-size: 14px;
}

.badged {
  background-color:#B3DDDD;
  width: 80px;
  font-size: 14px;
  border-radius: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 8px;
}

.badged button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.doencas-container {
  display: flex;
  align-items: initial;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}


/* -webkit-appearance: none;
-moz-appearance: none;
outline: none; */